<table>
  <tr>
    <td>
      <%= render :partial => 'add_buddy_form', :locals => { :user_id => @user.to_param } %>
    </td>
  </tr>
  <tr>
    <td>
      <%= render :partial => 'buddies_list', :object => @user %>
    </td>
  </tr>
</table>