<h1>New word_war</h1>

<fieldset>
  <legend>New Word War</legend>
  <%= render :partial => 'form', :locals => {:form_type => "Create"}%>
</fieldset>

<%= link_to 'Back', user_path(session[:user_id]) %>