<table class="db_container">
  <tr>
    <td>
      <!-- user data column -->
      <table class="widget">
        <tr>
          <th colspan="2">Your Data</th>
        </tr>
        <tr>
          <td>Name:</td>
          <td><%=h @user.name %></td>
        </tr>
        <tr>
          <td>Nanowrimo Username:</td>
          <td></td>
        </tr>
        <tr>
          <td>Current WordCount:</td>
          <td></td>
        </tr>
      </table>
    </td>
    <td>
      <!-- buddies and word wars -->
      <table class="widget">
        <tr>
          <th>Buddies</th>
        </tr>
        <td>
          <%= render :partial => "buddies/widget_for", :locals => { :user => @user } %>
        </td>
      </table>
      <table class="widget">
        <tr>
          <th>Word Wars</th>
        </tr>
      </table>
    </td>
    <td>
      <!-- notifications -->
      <table class="widget">
        <tr>
          <th>Notifications</th>
        </tr>
      </table>
    </td>
  </tr>
</table>

What are we doing here?<br/>

See/Add buddies - like a little box that shows the top five word-count-wise, and an option to show all and an option to add more, maybe just a textfield to add new one!<br/>

See personal word data/profile data<br/>

Start a word war/See current word wars<br/>

If set up to receive notifications, should see snaps and site updates, if I ever decide to add those.<br/>

Edit profile?<br/>

So three columns, first is user data, second is a split of buddies and word wars, third is notifications.<br/><br/>